@import "education.css";

header{
  height: auto;
}
nav {
  height: auto;
}

nav ul li{
  display: block;
  margin-bottom: 5px;
}

h4{
  margin-bottom: -10px;
}


#box1 {
margin-bottom: -100px;}

#box2{
  margin-bottom: 50px;
}

main{
  margin-bottom: -100px;
}
