@import "education.css";

header{
  height: auto;
}
nav {
  height: auto;
}

nav ul li{
  display: block;
  margin-bottom: 5px;
}

h4{
  margin-bottom: -190px;
}

p{
    margin-bottom: -190px;
}

#box1 {
height: 300px;}
