@import "style.css";

header{
  height: auto;
}
nav {
  height: auto;
}

nav ul li{
  display: block;
  margin-bottom: 5px;
}

h2{
  font-size: 17px;
  margin-top: -5px;
}
img{
  margin-bottom: -90px;
}
#grid2{
  display: grid;
  grid-template-areas: "col1 col2 col3";
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 300px;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  margin-bottom: -30px;
}

footer{
  background-color:#e6e6ff;
  text-align: center;
  width: 75%;
  height: 80px;
  margin: 0 auto;
  align-self: baseline;
margin-top: 50px;
}
