body { font:13px/1.231 sans-serif;
  background:#ffe6ff;}

#container {
	width: 900px;
	margin:50px auto 200px;
	padding:50px;
	background:#fff;
}

h1, h2, h3, h4{
text-align: center; }

h1 { font-size: 48px; }
h2 { font-size: 22px;}
h3 { font-size: 18px; }
h4 { font-size: 13px; }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section { margin-bottom: 10em; }

p { margin-bottom:1.5em;}
