
main{
  width: 90%;
  height: 400px;
  background-color: pink;
}

#grid1{
  display: grid;
  grid-template-areas: "col1 col2";
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%;
  text-align: center;
}
#col1{
  grid-area: col1;
  margin: center;
  background-color: #e6e6ff;
  height: auto;
}
#col2{
  grid-area: col2;
  margin: center;
  background-color: #cce6ff;
  height: auto;
}

#grid2{
  display: grid;
  grid-template-areas: "col3 col4 col5";
    grid-template-rows: 1fr;
  grid-template-columns: 33.3% 33.3% 33.3%;
  margin-top: 10px;
  text-align: center;
  margin-right: 50px;
}
#col3{
  grid-area: col3;
  background-color: #e0e0eb;
  height: auto;
}

#col4{
  grid-area: col4;
  background-color: white;
  height: auto;
}

#col5{
  grid-area: col5;
  background-color: #e0e0eb;
  height: auto;
}

.images{
  height: 180px;
  display: block;
  margin: 10px auto;
}
