
div.a {
    text-align: center;}

h1{
  display: inline-block;
  text-align: center;
  font-size: 52px;
  margin-bottom: 15px;
}

h2 {
  color: black;
  text-align: center;
  font-size: 40px;
  font-family: times;
  margin-left: 0 auto;
  background-color: white;
  height: 68px;
}

h3{
  font-weight: lighter;
  margin-left: 35px;
  margin-right: 35px;
  color: black;
  font-size: 22px;
  text-align: center;}

h4{
  font-size: 16px;
  text-align: center;
  color: black;
  height: 5px;}

a:visited{
  color: black;}

a:hover{
  color: pink;}

address{
  font-size: 12px;
  text-align: center;}

header{
  background-color: #e6e6ff;
  width: 960px;
  height: 280px;
  margin: 0 auto;
  margin-top: -10px;}

main{
  background-color: white;
  width: 960px;
  height: auto;
  text-decoration color: black;
  border-color: #e6ffff;
  margin: 0 auto;}

footer{
  background-color:#e6e6ff;
  width: 960px;
  height: 220px;
  margin: 0 auto;
  margin-top: -20px;}

nav{
  background-color: white;
  width: 960px;
  margin: 0 auto;
  height: 50px;
  float: left;}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;}

nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;}

nav ul li a:hover{
  color: pink;}

#box2 {
height: 100px;
width: 920px;
padding: 15px;
border: solid #cce6ff 10px;
border-radius: 2px;
background: white;
margin: 0 auto;
margin-right: 15px;
}

#box3 {
height: 665px;
width: 932px;
padding: 10px;
border: solid #ffe6ff 5px;
border-radius: 1px;
background: white;
margin: 0 auto;}

#grid1{
  display: grid;
  grid-template-areas: "col1 col2";
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%;
  text-align: center;
image-orientation: middle;}

#col1{
  grid-area: col1;
  background-color: #e6e6ff;
  height: auto;
  padding: 12px;}

#col2{
  grid-area: col2;
  background-color: #cce6ff;
  height: auto;
  padding: 12px;}

.images{
  height: 180px;
  display: block;
  margin: 0 auto;
  align-items: middle;

}
